#Ignoro repo de DSW
TP-Desarrollo-Software/

#Ignoro repo .NET
TP_integrador_.NET_academia/

UTN 2024/Desarrollo de software/Dockers/pmongodb6-dsw-tiendaSM-mo/
UTN 2024/Diseño de sistemas de información/Semana 9 - Patrones de interfaz  P1/
UTN 2024/Desarrollo de software/Dockers/pmongodb6-dsw-tiendaSM-mo/
UTN 2024/Base de datos/Parciales/Parcial 1/